/* Base Body Styles */
body.retro-theme {
    /* background-color: var(--color-white); */
    color: var(--color-black);
    font-family: 'VT323', monospace;
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    image-rendering: pixelated;
}

body.transitioning {
    overflow: hidden !important;
}