/* Base Body Styles */
body.retro-theme {
    /* background-color: var(--color-white); */
    color: var(--color-black);
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    image-rendering: pixelated;
}

body.transitioning {
    overflow: hidden !important;
}

/* Custom Chunky Retro Scrollbar */
*::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    border-radius: 0px;
}

*::-webkit-scrollbar-track {
    background: var(--color-white);
    /* border: 2px solid var(--color-black); */
}

*::-webkit-scrollbar-track {
    margin: 0;
    /* remove fake padding */
}

*::-webkit-scrollbar-thumb {
    background: var(--color-black);
    border: 3px solid var(--color-white);
    box-shadow: inset 0 0 0 2px var(--color-black);
    border-radius: 0px;
}


*::-webkit-scrollbar-thumb:hover {
    background: var(--color-black);
    opacity: 0.8;
}

*::-webkit-scrollbar-button:single-button {
    display: block;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 2px solid #000;
}

/* Up */
*::-webkit-scrollbar-button:single-button:vertical:decrement {
    background:
        linear-gradient(-45deg, transparent 50%, #000 50%) 2px 2px / 8px 8px no-repeat,
        #fff;

}

/* Down */
*::-webkit-scrollbar-button:single-button:vertical:increment {
    background:
        linear-gradient(135deg, transparent 50%, #000 50%) 2px 2px / 8px 8px no-repeat,
        #fff;
}

/* Firefox support */
/* * {
    scrollbar-width: auto;
    scrollbar-color: var(--color-black) var(--color-white);
} */